article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
font-family: 'Patrick Hand', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Petit Formal Script', cursive;

.flexboxColumn {
	display: flex;
	flex-direction: column;
}

.flexboxRow {
	display: flex;
	flex-direction: row;
}

body {
	height: 100vh;
	background: rgb(64, 224, 208);
	background: -moz-linear-gradient(30deg, rgb(64, 224, 208) 9%, rgb(0, 128, 128) 100%);
	background: -webkit-linear-gradient(30deg, rgb(64, 224, 208) 9%, rgb(0, 128, 128) 100%);
	background: -o-linear-gradient(30deg, rgb(64, 224, 208) 9%, rgb(0, 128, 128) 100%);
	background: -ms-linear-gradient(30deg, rgb(64, 224, 208) 9%, rgb(0, 128, 128) 100%);
	background: linear-gradient(120deg, rgb(64, 224, 208) 9%, rgb(0, 128, 128) 100%);

}

a {
	color: #111111;
	text-decoration: none;
	transition: all 0.5s;
}

a:hover {
	color: #2c3e50;

}

.content {
	padding: 55px 0 55px 0;
}

.sidebar, .imageContainer, .quoteContainer {
	float: left;
	height: 447px;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}

.sidebar {
	width: 20%;
}

.imageContainer {
	width: 40%;
}

.quoteContainer {
	height: 250px;
	width: 40%;
	color: white;
	padding: 20px 10px 20px 10px;
	text-shadow: 1px 1px #222;
	font-size: 30px;
	letter-spacing: 5px;
	font-family: 'Muli', sans-serif;
	font-weight: 100;
}

ul {
	max-width: 100%;
}

.characters li a {
	padding-top: 33px;
	width: 80px;
	height: 80px;
	display: block;
	background: #FF8C00;
	margin-bottom: 10px;
	transition: all 0.5s;
	border-radius: 50%;
	box-shadow: 0px 5px #8b571a;
	font-family: 'Muli', sans-serif;
}

.characters li a:active {
	background: #708090;
}


.characters {
	justify-content: center;
	align-items: center;
	list-style: none;
	padding-left: 0;
}

.mainImage{
	width: 100%;
	text-align: center;
}

img {
	max-width: 90%;
}

h1, h2, h3, a {
	text-align: center;
	color: white;
	margin: 0;
}

h1 {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 10px;
	text-shadow: 1px 1px #222;
	font-size: 50px;
	padding-top: 10px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 5px;
	padding-top: 10px;
}

p {
	margin: 0;
	padding: 5px 0 0 0;
	text-align: center;
	color: white;
	font-family: 'Muli', sans-serif;
}
.hello {
	padding: 200px;
	letter-spacing: 10px;
}

.paragraphTheme {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Muli', sans-serif;
	letter-spacing: 5px;
	border-bottom: 1px solid rgb(64, 224, 208);
}

.theme {
	border: 1px solid white;
	padding: 5px 15px 5px 15px;
	font-family: 'Petit Formal Script', cursive;
	transition: all 0.5s;
	letter-spacing: 1px;
}

.theme:hover {
	color: rgb(64, 224, 208);
	background: white;
}

.themeOg {
	border: 1px solid white;
	padding: 5px 15px 5px 15px;
	font-family: 'Petit Formal Script', cursive;
	transition: all 0.5s;
	letter-spacing: 1px;
}

.themeOg:hover {
	color: rgb(64, 224, 208);
	background: white;
}



/*Funky Theme*/

.funkyLinks {
	background: none !important;
	box-shadow: none !important;
	border-radius: none !important;
	padding-top: 0 !important;
	width: 100% !important;
	font-size: 70px;
	height: auto !important;
}

.funkyLinks1 {
	
	font-family: 'Londrina Outline', cursive !important;
}

.funkyLinks2 {
	font-family: 'Petit Formal Script', cursive !important;
	font-size: 50px;
}

.funkyLinks3 {
	font-family: 'Oswald', sans-serif !important;
	font-size: 65px;
	letter-spacing: 5px;
}

.funkyLinks4 {
	
	font-family: 'Londrina Outline', cursive !important;
	font-size: 80px;
	letter-spacing: 5px;
}

.funkyLinks5 {
	
	font-family: 'Oswald', sans-serif !important;
	font-weight: 700;
}

